<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>youtube.properties</value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.mrmq.uyoutube.config.Config.setDownloadPath"/>
        <property name="arguments" value="${youtube.download_path}" />
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.mrmq.uyoutube.config.Config.setHomePath"/>
        <property name="arguments" value="${youtube.home_path}" />
    </bean>

    <!-- A simple bean definition -->
    <bean id="youTubeService" class="com.mrmq.uyoutube.YouTubeService">
        <property name="channelEmail" value="${youtube.channel.email}" />
    </bean>


</beans>